* {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    background-color: rgb(239, 151, 62);
}
.menu {
    display: flex;
    justify-content: space-between;
    background: black;
    padding: 5px;
    margin: 2px;
}
.historia {
   color: white;
   

}
.botao {

      font-size: 30px;
      background-color: red;
    border-radius: 54px;


}
:hover.botao{
    transform: none;
    transition: 54px;

}
.lista {
    color: white;
    display: flex;
    gap: 22px;
    text-decoration: none;
    list-style: none;
    font-size: 30px;
    margin-right: 30px;
    align-items: center;
}
a{
    color: white;
    text-decoration: none;
}

h1 {
    display: flex;
    margin: 50px;
    align-items: center;
    font-size: 60px;
    border: 5px black solid;
    border-radius: 10px;
}
.imagens {
    display: flex;
    gap: 30px;
    margin-left: 16px;
    margin-top: 60px;
    
    }

    .titulo {
        margin-top: 110px;
        color: rgb(25, 5, 126);
    }
    
    .paragrafo {
        font-size: 22px;
        color: black;
        text-decoration: underline;
    }